<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" lang="en">

<head>
    <div th:replace="~{layout :: head}"></div>
    <link rel="stylesheet" th:href="@{/resources/css/profile.css}">
    <link rel="stylesheet" th:href="@{/resources/css/errors.css}">
    <script th:src="@{/resources/js/addBalance.js}" defer></script>
</head>

<body>
    <header th:replace="~{layout :: header}"></header>
    <nav th:replace="~{layout :: nav}"></nav>

    <h1 class="title">Profile</h1>

    <main>
        <div class="user-info-details" th:object="${userProfile}">
            <p><strong>Nama: </strong><span th:text="*{name}"></span></p>
            <p><strong>Role: </strong><span th:text="*{role}"></span></p>
            <p><strong>Address: </strong><span th:text="*{address}"></span></p>
            <div class="balance-container">
                <p><strong>Balance: </strong><span th:text="*{balance}"></span></p>
                <a href="#" class="gray-button add-funds" th:hidden="${#strings.equals(roleType, 'Seller')}">Tambah
                    Dana</a>
                <a th:href="@{/profile/getBalance(username=${#authentication.getPrincipal().getUsername()}, amountMoney=*{halfBalance})}"
                    class="gray-button get-half-funds" th:hidden="${#strings.equals(roleType, 'Buyer')}">Tarik
                    <span th:text="*{halfBalance}"></span></a>
                <a th:href="@{/profile/getBalance(username=${#authentication.getPrincipal().getUsername()}, amountMoney=*{fullBalance})}"
                    class="gray-button get-all-funds" th:hidden="${#strings.equals(roleType, 'Buyer')}">Tarik
                    <span th:text="*{fullBalance}"></span></a>
            </div>
        </div>

        <h3>My Transaction History</h3>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Shipment</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="history:${listProfileHistory}" th:object="${history}">
                    <td th:text="*{date}"></td>
                    <td th:text="*{merchandiseName}"></td>
                    <td th:text="*{quantity}"></td>
                    <td th:text="*{shipperName}"></td>
                    <td th:text="*{totalPrice}"></td>
                </tr>
            </tbody>
        </table>

        <!-- Modal Structure -->
        <div id="myModalBalance" class="modal">
            <div class="modal-content">
                <input type="hidden" id="username" name="username" th:value="${username}">
                <label for="amount">Tambah dana sebesar:</label>
                <input type="text" id="amount" name="amount" placeholder="Masukkan jumlah">
                <div class="errors"><span class="span-errors"></span></div>
                <div class="button-container">
                    <button class="gray-button" id="addButton">Tambah</button>
                    <button class="red-button" id="cancelButton">Batal</button>
                </div>
            </div>
        </div>
    </main>
</body>

</html>