<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" lang="en">

<head>
    <div th:replace="~{layout :: head}"></div>
</head>

<body>
    <header th:replace="~{layout :: header}"></header>
    <nav th:replace="~{layout :: nav}"></nav>

    <h1 class="title">Home</h1>

    <main>
        <h2>Selamat datang di Troll Market</h2>
        <p>
            Ini adalah marketplace yang tidak pernah ada promosi dan diskon.<br>
            Karena ini hanya assignment buat kalian, jadi buat apa ada diskon.
        </p>
    </main>
</body>

</html>